.tableWrapper {
    display: flex;
    flex-flow: wrap;
    
    .tableBox{
        width: 25%;
        text-align: center;
        font-size: 1.6rem;
        box-sizing: border-box;
        border: 1px solid $light-color;

        .header {
            padding: 0.5rem;
        }

        .text {
            padding: 0.5rem;
            font-weight: bolder;
        }
    }
    .tableBoxEmpty{
        width: 25%;
    }

    @media screen and ($media-xs) {
        .tableBox{
            width: 100%;
        }
        .tableBoxEmpty{
            display: none;
        }
    }

    @media screen and ($media-sm) {
        .tableBox{
            width: 50%;
        }
        .tableBoxEmpty{
            display: none;
        }
    }
}